<div class="type-header">
    <h1 class="is-size-4">
        Pokemon Types
    </h1>

    <h2 class="is-size-5">Below are the different groups a pokemon may be in:</h2>
</div>

<div class="grid is-col-min-15 type-div">
    <% @types.where.not(name: ['Stellar', 'Unknown']).each do |type| %>
    <div class="cell type-element has-text-centered">
        <%= link_to type.name, type_path(type), class:"type-link" %>
        <%= image_tag "/icons/#{type.name.downcase}.ico", alt: type.name, class:"type-icon"%>
    </div>
    <% end %>
</div>