/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Page styles */
.body-div {
    margin: 3.5rem 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagination {
    margin: 4rem 0;
}

.pokemon-search {
    margin: 1rem 0;
    width: 560px;
}

.search-div {
    margin: 0 0 6rem;
}

/* Navbar styles */
.pokemon-navbar {
    gap: 4rem;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}

/* Pokemon index */
.pokemon-header {
    margin: 5rem 0 0;
}

/* Pokemon show */
.pokemon-card-container {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.pokemon-img-show {
    width: 220px;
    height: 220px;
}

.pokemon-card {
    font-size: 18px;
}

.pokemon-info {
    margin: 1rem 0;
}
 
/* Types and Trainer index */
.type-header, .trainer-header {
    margin-left: 10.4rem;
}

.type-div, .trainer-div {
    margin: 3rem 0;
}

.type-element, .trainer-element {
    margin: 12px 0;
    list-style-type: none;
    font-size: 18px;
}

.type-link {
    text-decoration: none;
    color: #40acbd;
}

.type-icon {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.pokemon-img {
    width: 130px;
    height: 130px;
    vertical-align: middle;
}
