/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Page styles */
.body-div {
    margin: 3.5rem 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Pokemon index */
.pokemon-header {
    margin: 3rem 0;
}

.navbar-item {
  border-bottom: 5px solid transparent;
  transition: border-bottom-color 0.3s;
  margin: 0.6rem 0 0;
}

.navbar-item.is-active {
  border-bottom-color: #dc3232; /* Bulma primary blue */
  color: #dc3232;
}

.navbar-item:hover {
  border-bottom-color: #dc3232;
  opacity: 0.7;
}

/* Pokemon show */
.pokemon-card-container {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.pokemon-img-show {
    width: 220px;
    height: 220px;
}

.pokemon-card {
    font-size: 18px;
}

.pokemon-info {
    margin: 1rem 0;
}
 
/* Types index */
.type-header {
    margin-left: 10.4rem;
}

.type-div {
    margin: 3rem 0;
}

.type-element {
    margin: 12px 0;
    list-style-type: none;
    font-size: 18px;
}

.type-link {
    text-decoration: none;
    color: #40acbd;
}

.type-icon {
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.pokemon-img {
    width: 130px;
    height: 130px;
    vertical-align: middle;
}
