<div class="trainer-header">
    <h1 class="is-size-4">
        Pokemon Trainers
    </h1>

    <h2 class="is-size-5">Below are pokemon trainers:</h2>
</div>

<div class="grid is-col-min-15 trainer-div">
    <% @trainers.each do |trainer| %>
    <div class="cell trainer-element has-text-centered">
        <%= link_to trainer.name, trainer_path(trainer), class:"trainer-link" %>
    </div>
    <% end %>
</div>